<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator Web Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles.css') }}">
    <script src="{{ url_for('static', filename='/main.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Calculator</h1>
        <form method="POST" action="/calc">
            <input type="text" name="expression" id="expression" value="{{ expression }}" readonly><br><br>
            
            <div>
                <button type="button" onclick="appendToExpression('7')">7</button>
                <button type="button" onclick="appendToExpression('8')">8</button>
                <button type="button" onclick="appendToExpression('9')">9</button>
                <button type="button" onclick="appendToExpression('+')">+</button>
            </div>
            <div>
                <button type="button" onclick="appendToExpression('4')">4</button>
                <button type="button" onclick="appendToExpression('5')">5</button>
                <button type="button" onclick="appendToExpression('6')">6</button>
                <button type="button" onclick="appendToExpression('-')">-</button>
            </div>
            <div>
                <button type="button" onclick="appendToExpression('1')">1</button>
                <button type="button" onclick="appendToExpression('2')">2</button>
                <button type="button" onclick="appendToExpression('3')">3</button>
                <button type="button" onclick="appendToExpression('*')">*</button>
            </div>
            <div>
                <button type="button" onclick="appendToExpression('0')">0</button>
                <button type="button" onclick="appendToExpression('.')">.</button>
                <button type="button" onclick="clearExpression()">C</button>
                <button type="button" onclick="backspace()">Back</button>
            </div>
            <div>
                <button type="button" onclick="appendToExpression('%')" class="percentage-button">%</button>
                <button type="button" onclick="appendToExpression('/')" class="division-button">/</button>
                <button type="submit" class="custom-calculate-button">=</button>
    
            </div>  
        </form>
        
        {% if result is defined %}
        <h2>Result: {{ result }}</h2>
        {% endif %}
    </div>
</body>
</html>